*{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
a{
    color: rgb(191, 203, 217);
    text-decoration: none;
}
.fll{
    float: left;
}
.flr{
    float: right;
}
.clearfix{
    &::after {
        content:'';
        display: block;
        clear: both;
    }
}
///表格头像
.table-img{
    width: 80px;
    height: 80px;
}